body {
  font-family: Arial, "Times New Roman", sans-serif;
  line-height: 25px;
  font-weight: normal;

  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.top-info {
  background-image: url("../img/bg-1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

  height: 325px;

  h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;

    margin: 0;
    padding: 0;

    color: white;

    padding-top: 100px;
  }
}

.navigation {

  background-color: #FBFBFB;

  ul {
    list-style: none;

    display: flex;
    justify-content: space-around;

    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;

    width: 600px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;

    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
  }

  a {
    color: black;
  }
}

.main-info {

  background-image: url("../img/bg-2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

  p {
    font-size: 22px;
    color: white;

    text-align: center;

    padding: 0;
    margin: 0;
    padding: 40px 200px;
  }

  p:last-child {
    padding-bottom: 100px;
  }

  p:first-child {
    padding-top: 100px;
  }
}

footer {

  background-color: #707070;

  p {
    font-size: 12px;
    line-height: 14px;
    color: #F7F7F7;

    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 20px;
  }

  a {
    color: #F7F7F7;
  }

  a:hover {
    color: #EAEAEA;
  }
}

.navigation {

  li:hover {
    background-color: #EAEAEA;
  }
}

// Made by Eugeny Goryachkin
// GitHub: https://github.com/PistrunXvX
// vk: https://vk.com/evgen2001
// email: killerdjek@gmail.com

